<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dwfwebjobsdemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dwfwebjobsdemo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DWFWebJobsDemo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DWFWebJobsDemo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AzureWebJobsStorage" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=dwfwebjobsdemo;AccountKey=YBcCkK6cBeEzJQ60qUwE3L7Q0eXOxB9svoV1GHJy8dyga+wd+AmWN7N3F0Qwk/nn5YJbaNi6s13OXC1FO2O67w==;BlobEndpoint=https://dwfwebjobsdemo.blob.core.windows.net/;TableEndpoint=https://dwfwebjobsdemo.table.core.windows.net/;QueueEndpoint=https://dwfwebjobsdemo.queue.core.windows.net/;FileEndpoint=https://dwfwebjobsdemo.file.core.windows.net/" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchAttributes="$(UpdateFromConnectionStringAttributes)" MatchValue="DefaultEndpointsProtocol=https;AccountName=dwfwebjobsdemo;AccountKey=YBcCkK6cBeEzJQ60qUwE3L7Q0eXOxB9svoV1GHJy8dyga+wd+AmWN7N3F0Qwk/nn5YJbaNi6s13OXC1FO2O67w==;BlobEndpoint=https://dwfwebjobsdemo.blob.core.windows.net/;TableEndpoint=https://dwfwebjobsdemo.table.core.windows.net/;QueueEndpoint=https://dwfwebjobsdemo.queue.core.windows.net/;FileEndpoint=https://dwfwebjobsdemo.file.core.windows.net/" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureWebJobsStorage-Web.config Connection String" />
  </ItemGroup>
</Project>